body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.Orange-Color {
    color: orange;
}

.Flexible-Container {
    display: flex;
    margin: 15px;
}

p {
    text-align: justify;
}

.Half-Width {
    width: 50%;
    padding: 5%;
}

.Half-Width img {
    width: 100%;
    border-radius: 5%;
    align-items: center;
}

.Link-Button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 5px;
}

.Experience-item {
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin: 3%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#Fearless-leader-Virat-Kokhli {
    border-left: 8px solid tomato;
}

#Artistry-Virat-kohli {
    border-left: 8px solid blue;
}

footer p {
    text-align: center;
}